<h1>Uberflirt</h1>
<p>Just a silly app that tells you who you're stalking (and who is stalking you) on Instagram</p>
<%= link_to "Connect with Instagram", connect_path %>
<br /><br />
<p>(there's no design yet!)</p>