<div class="welcome">
<p>A silly app that tells you who you're stalking (and who is stalking you) on Instagram</p>
<%= link_to "Connect with Instagram", connect_path, :onclick => "$(this).replaceWith('Connecting...')" %>
</div>